:root{
    --largura: 300px;
}

* {
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(135deg, var(--azul), var(--roxo));
  color: var(--branco);
}

.title {
    color: var(--branco)
}

/* .form {
    border: 1px solid black;
} */

.form,
.label,
.input,
.button {
  width: var(--largura);
}

.input {
  margin-top: 10px;
  border-radius: 10px;
  padding: 5px;
  border: none;
}

.label {
    display: block; /* label vira bloco, assim o margin-bottom funciona */
    margin: 5px 0px;
    margin-bottom: 10px;
}

.buttonsContainer {
  display: flex;
  gap: 10px;
  margin-top: 16px;
}

.button {
    display: block;
    margin: 0px auto;
    color: var(--branco);
    background-color: #c62828;
    border: none;
    padding: 6px 0px;
    font-size: 0.9rem;
    border-radius: 6px;
    cursor: pointer;
    border: 2px solid transparent; /* borda invisível no estado normal */
    /* transition: border 0.5s ease; */
    width: 100px;
    }

.button:hover {
    /* background-color: var(--azul); */
    border: 2px solid white;


}

.button2 {
  margin-top: 10px;
}


