:root{
    --largura: 300px;
}

* {
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(135deg, var(--azul), var(--roxo));
  color: var(--branco);
}

.title {
    color: var(--branco)
}

.form {
  max-width: calc(var(--largura) * 3);
}

/* .form,
.label,
.input,
.button {
  width: var(--largura);
} */

.inputNome, .inputCnpj {
  width: calc(var(--largura)*1.5);
}

.inputRua, .inputBairro {
  width: calc(var(--largura)*1);
}

.inputNumero, .inputEstado {
  width: calc(var(--largura)*0.5);
}

.inputCep {
  width: calc(var(--largura)*0.7);
}

.label {
    display: block; /* label vira bloco, assim o margin-bottom funciona */
    margin: 5px 0px;
}

.endereco {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;

  /* width: auto; */
  max-width: calc(var(--largura) * 2);

  flex-wrap: wrap;
}

.estado {
  width: 100px;
}

.button {
    display: block;
    margin: 10px auto;
    color: var(--branco);
    border: none;
    padding: 6px 0px;
    font-size: 0.9rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100px;
    background-color: #c62828;
    }

.button:hover {
    background-color: #f71515;
}