/* src/index.css */
:root {
  --azul: #2a52c1;      /* azul mais elegante */
  --roxo: #6d28d9;      /* roxo suave e moderno */
  --vermelho: #ef4444;  /* vermelho de alerta */
  --branco: #f9fafb;    /* branco quase gelo */
  --cinza: #e5e7eb;     /* cinza claro */
  --preto: #111827;     /* quase preto */
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
