.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: linear-gradient(to bottom, var(--azul), var(--branco));
  border-radius: 8px;
}

.title {
  font-size: 24px;
  color: var(--branco);
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.form {
  width: 100%;
  max-width: 400px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 400px;
  background-color: var(--branco);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: var(--preto);
  font-size: 1.5rem;
  cursor: pointer;
}

.successModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--verde);
  color: var(--branco);
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border: none; /* Remove qualquer borda */
}

.successContent {
  display: flex;
  justify-content: center;
  align-items: center;
}


.btn_users {
  align-self: flex-start;
  align-items: flex-start;
  width: auto; 
  margin: 0;
  display: inline-flex;
  padding: 0.7rem 1.2rem;
  letter-spacing: 0.8px;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  background: linear-gradient(var(--vermelho));
  color: var(--branco);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn_users:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(109, 40, 217, 0.4);
    background: rgb(211, 50, 50);
}
